body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.btn-login {
background-color: #1197cc;
box-shadow: #094c66 4px 4px 0px;
border-radius: 8px;
transition: transform 200ms, box-shadow 200ms;
}

.button:active {
  transform:  translateY(4px) translateX(4px);
  box-shadow:  #094c66 0px 0px 0px;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}

.navbar-dark .nav-item .nav-link {
  color: #fff;
}

.navbar-dark .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}

.fa-li {
  position: relative;
  left: 0;
}
